.list-item {
  padding: 15px 7.5px;
  margin: 0px 7px 4px 7px;
  border-radius: 7px;
}

.task-title {
  color: @accent_color;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 700;
	font-size: 230%;
}

.task-box {
  margin-top: 10px;
}

taskrow {
  transition: ease-out 0.3s;
  border-radius: 7px;
  padding: 8px 4px;
  margin-top: 6px;
}

taskrow rowimage {
  transition: ease-out 0.2s;
  opacity: 0;
}

taskrow:hover {
  background-color: alpha(@theme_fg_color, 0.1);
}

taskrow:hover rowimage {
  opacity: 1;
}

taskrow box {
  transition: ease-in 0.1s;
}

taskrow.completed {
  opacity: 0.5;
}

rowimage {
  padding: 6px;
  border-radius: 6px;
}

rowimage:hover {
  background-color: alpha(@theme_fg_color, 0.1);
}

rowimage.destructive-action image {
  color: @destructive_color;
}
